body{
    box-sizing: border-box;
    margin: 0 auto;
    width: 1280px;
    height: auto;
    font-family: 'Montserrat';
}
.menu{
    text-align: center;
    height: 78px;
   }
.menu-list li{
    padding-top: 25.5px;
    text-transform: uppercase;
    margin-left: 72px;
    display: inline-block;
    width: auto;
    list-style: none;  
    font-weight: 700;
    font-size: 18px;    
    font-style: normal;
    letter-spacing: 2.7px;
    }
    li a{
        text-decoration: none; 
        color: red;  
    }
    li a:focus{
        outline: none;
    }
    li a:hover{
    text-decoration: underline;  
    }
.main-title{
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 3.3px;
    font-weight: bold;
}
.main-text{
    margin: 0 67.5px 0 67.5px;
    text-align: center;
}
.main-text,p:last-child{
    padding-top: 25px;
}
.BottomButton{
    margin-top: 66px;
    margin-bottom: 42px ;
    margin-left: 550.5px;
    display: inline-block;
    border-radius: 4px;
    font-family: 'Montserrat';
    background-color: red;
    border-style: none;
    width: 191px;
    height: 51px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    letter-spacing: 1.8px;
}
footer p{
    margin-top: 40px;
    margin-left: 713px;
    margin-bottom: 29px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2.4px;
}